source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Newtonsoft.Json
nuget suave
nuget Microsoft.FSharpLu.Json

group Build
  source https://api.nuget.org/v3/index.json
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget FsReveal

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://api.nuget.org/v3/index.json
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2